<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="clustere.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ClusterE perspective"
            class="clustere.Perspective"
            id="ClusterE.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="clustere.views.ViewPart1"
            id="ClusterE.view1"
            name="Cluster Results"
            restorable="true">
      </view>
      <view
            class="clustere.views.ViewPart2"
            id="ClusterE.view2"
            name="Property"
            restorable="true">
      </view>
      <view
            class="clustere.views.CurrentNetworkView"
            id="ClusterE.view3"
            name="CurrentNetwork"
            restorable="true">
      </view>
      <view
            class="clustere.views.AlgorithmInfoView"
            id="ClusterE.view4"
            name="Using Algorithms"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="clustere.editors.ClusterEditor"
            default="false"
            id="ClusterE.editor1"
            name="Clusters View">
      </editor>
      <editor
            class="clustere.editors.EvaluationView"
            default="false"
            id="ClusterE.editor2"
            name="Evaluation Result View">
      </editor>
      <editor
            class="clustere.editors.NetworkView"
            default="false"
            id="ClusterE.editor3"
            name="Network View">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ClusterE.application"
            name="ClusterE">
         <property
               name="appName"
               value="ClusterE">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,310,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,330,500,18"
               >
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_window_32.gif">
         </property>
         <property
               name="aboutText"
               value="ClusterE(An analysis platform for clustering in protein interaction networks)&#x0A;Build id:20100512&#x0A;(c) Copyright Central Souoth University  wuxuehong">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="ClusterE.application"
            name="ClusterE">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif">
         </property>
         <property
               name="aboutText"
               value="ClusterE(An analysis platform for clustering in protein interaction networks)&#x0A;Build id:20100512&#x0A;(c) Copyright Central South University  wuxuehong">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="0,330,500,18">
         </property>
         <property
               name="startupMessageRect"
               value="7,310,445,20">
         </property>
         <property
               name="appName"
               value="ClusterE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
